@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: oklch(64.5% 0.246 16.439);
  --secondary-color: oklch(62.598% 0.24129 16.767 / 0.128);

  --neutral-50: oklch(98.5% 0 0);
  --neutral-100: oklch(97% 0 0);
  --neutral-200: oklch(92.2% 0 0);
  --neutral-300: oklch(87% 0 0);
  --neutral-400: oklch(70.5% 0 0);
  --neutral-900: oklch(20.5% 0 0);
  --shadow-color: rgba(0, 0, 0, 0.1);
  --body-bg-color: #dfdfdf;
}

[data-theme="dark"] {
  --primary-color: oklch(72% 0.23 16.4);
  --secondary-color: oklch(72% 0.23 16.4 / 0.18);

  --neutral-50: oklch(18% 0 0);
  --neutral-100: oklch(22% 0 0);
  --neutral-200: oklch(28% 0 0);
  --neutral-300: oklch(35% 0 0);
  --neutral-400: oklch(55% 0 0);
  --neutral-900: oklch(96% 0 0);
  --shadow-color: rgba(255, 255, 255, 0.08);
  --body-bg-color: #1e1e1e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--body-bg-color);
}

button {
  display: inline-block;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.app-setting {
  position: fixed;
  right: 2rem;
  top: 2rem;
  display: flex;
  gap: 2rem;
  z-index: 100;
}

.theme {
  display: flex;
  gap: 1rem;
}

.github a {
  font-size: 2rem;
  color: var(--neutral-900);
  transition: color 0.3s ease-in-out;
}

.github:hover a {
  color: var(--primary-color);
}

.theme__switcher {
  position: relative;
  border-radius: calc(infinity * 1px);
  background-color: var(--neutral-300);
  cursor: pointer;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  width: 4rem;
  height: 2.4rem;
}

.theme__thumb {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  z-index: 1;
  transform-origin: 50% 50% 0px;
  transition: transform 0.3s ease-in-out;
}

.theme__switcher[data-state="unchecked"] .theme__thumb {
  transform: translate3d(0, 0, 0);
}

.theme__switcher[data-state="checked"] .theme__thumb {
  transform: translate3d(14px, 0, 0);
}

.theme__icon i {
  font-size: 1.2rem;
  color: var(--neutral-900);
}

.theme__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1);
  opacity: 1;
  transition: transform 0.3s ease-in-out;
  transform-origin: 50% 50%;
}

.theme__icon--light {
  left: 0.25rem;
}

.theme__icon--dark {
  right: 0.25rem;
}

.theme__switcher[data-state="unchecked"] .theme__icon--light {
  transform: translateY(-50%) scale(0);
  opacity: 0;
}

.theme__switcher[data-state="checked"] .theme__icon--dark {
  transform: translateY(-50%) scale(0);
  opacity: 0;
}

.color-picker {
  position: fixed;
  background-color: var(--neutral-50);
  padding: 2rem 1rem;
  padding-right: 1.8rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0 4px 8px var(--shadow-color);
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 100;
}

.color-picker__item {
  --color-picker: "red";
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  transition: transform 0.3s ease-in;
  cursor: pointer;
  box-shadow: 0 2px 4px var(--shadow-color);
  background-color: var(--color-picker);
}

.color-picker__item:not(.active):hover {
  transform: scale(1.2);
}

.color-picker__item.active {
  transform: scale(1.2);
  outline: 2px solid var(--color-picker);
  outline-offset: 2px;
}

#music-player {
  margin: 0 auto;
  width: 45rem;
}

.player {
  position: sticky;
  top: 0;
  z-index: 10;
  padding-top: 1rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--neutral-50);
  box-shadow: 0 4px 8px var(--shadow-color);
}

.player__detail {
  text-align: center;
}

.player__playing {
  font-size: 1.2rem;
  color: var(--primary-color);
}

.player__name {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--neutral-900);
}

.player__cd {
  --progress: 0%;
  width: 32rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0 auto;
  outline: 1px solid var(--secondary-color);
  outline-offset: -8px;
  background: conic-gradient(
    var(--primary-color) var(--progress),
    transparent 0
  );
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.1s linear, opacity 0.1s linear;
  transform-origin: center;
}

.player__cd-wrappper {
  width: 30rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  animation: rotate_cd 20s linear infinite;
}

.player__cd-wrappper.paused {
  animation-play-state: paused;
}

@keyframes rotate_cd {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player__cd-thumbnail {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.player__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  color: var(--neutral-400);
  font-size: 2rem;
}

.btn:not(.btn--play):hover {
  color: var(--primary-color);
}

.btn--play:hover {
  opacity: 0.8;
}

.btn--play {
  width: 6rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  font-size: 3rem;
  background-color: var(--primary-color);
  color: var(--neutral-50);
  box-shadow: 0px 5px 15px var(--primary-color);
}

.player__progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player__progress-track {
  --progress-width: 0%;
  height: 0.6rem;
  flex: 1;
  margin: 0 1rem;
  border-radius: 4px;
  background-color: var(--neutral-200);
  position: relative;
  cursor: pointer;
}

.player__progress-track::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--progress-width);
  height: 100%;
  border-radius: 4px;
  background-color: var(--primary-color);
}

.player__progress-track::after {
  content: "";
  position: absolute;
  top: 50%;
  left: var(--progress-width);
  transform: translate(-50%, -50%);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.player__progress-track-tooltip {
  --current-left: 0%;
  visibility: hidden;
  position: absolute;
  top: -2.5rem;
  left: var(--current-left);
  transform: translateX(-50%);
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--neutral-50);
  font-size: 1.2rem;
  white-space: nowrap;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.player__progress-track:hover .player__progress-track-tooltip {
  visibility: visible;
}

.player__progress-time {
  font-size: 1.2rem;
  color: var(--neutral-400);
}

.player__audio-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player__audio-actions > div {
  display: flex;
  gap: 1.4rem;
}

.player__audio-actions .btn {
  font-size: 1.6rem;
}

.track-list {
  background-color: var(--neutral-100);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.track-item {
  background-color: var(--neutral-50);
  border-radius: 3px;
  cursor: pointer;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.track-item:hover {
  background-color: var(--shadow-color);
}

.track-item.active {
  background-color: var(--primary-color);
}

.track-item.active .track-item__name {
  color: var(--neutral-50);
}

.track-item.active .track-item__artist {
  color: var(--neutral-200);
}

.track-item.active .btn:hover {
  color: var(--neutral-50);
}

.track-item__thumbnail {
  width: 5rem;
  aspect-ratio: 1 /1;
  border-radius: 50%;
  object-fit: cover;
}

.track-item__detail {
  text-align: left;
  flex: 1;
}

.track-item__name {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.6;
  color: var(--neutral-900);
}

.track-item__artist {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--neutral-400);
}

@media screen and (max-width: 320px) {
  html {
    font-size: 50%;
  }

  .player__name {
    font-size: 2rem;
  }

  .player__cd {
    width: 26rem;
  }

  .player__cd-wrappper {
    width: 24rem;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 55%;
  }

  #music-player {
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  #music-player {
    padding-top: 8rem;
  }

  .player {
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .app-setting {
    top: 1rem;
    left: 1rem;
    flex-direction: row;
  }

  .color-picker {
    top: 1rem;
    right: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    left: 50%;
    transform: translate(0, 0);
    box-shadow: none;
    background-color: transparent;
    padding: 0;
  }

  .color-picker__item {
    width: 2rem;
    height: 2rem;
  }

  .color-picker__item:nth-last-child(1),
  .color-picker__item:nth-last-child(2),
  .color-picker__item:nth-last-child(3),
  .color-picker__item:nth-last-child(4),
  .color-picker__item:nth-last-child(5),
  .color-picker__item:nth-last-child(6),
  .color-picker__item:nth-last-child(7) {
    display: none;
  }
}

@media screen and (min-width: 560px) and (max-width: 680px) {
  .app-setting {
    right: 1rem;
    top: 4rem;
    flex-direction: column;
    align-items: center;
  }
}
